# .env.example 파일을 복사하여 .env.local 파일을 생성합니다

# API Keys 
TMDB_KEY=YOUR_TMDB_API_KEY

# PUBLIC URL
NEXT_PUBLIC_API_URL = https://api.themoviedb.org/3/
NEXT_PUBLIC_IMAGE_BASE_URL = http://image.tmdb.org/t/p/

# 데이터베이스 MongoDB Atlas 
MONGODB_URI=YOUR_MONGODB_URI

# NextAuth 설정
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

# 소셜 로그인 
KAKAO_CLIENT_ID=YOUR_KAKAO_CLIENT_ID
KAKAO_CLIENT_SECRET=YOUR_KAKAO_CLIENT_SECRET
NAVER_CLIENT_ID=YOUR_NAVER_CLIENT_ID
NAVER_CLIENT_SECRET=YOUR_NAVER_CLIENT_SECRET

# 에러 모니터링 
SENTRY_DSN=YOUR_SENTRY_DSN